<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Tworzenie studenta</title>
</head>
<body>
<h1> UTWÓRZ STUDENTA</h1>

<form method="post" action="/students/create">
  <input type="text" name="firstName" placeholder="Imię" required/></br>
  <input type="text" name="lastName" placeholder="Nazwisko" required/></br>
  </br>

  <label>Język</label></br>
  <select name="language" required>
    <option value="" disabled selected>wybierz język</option>
    <option th:each="language : ${languages}" th:text="${language}" th:value="${language}"/>
  </select>

  <label>Nauczyciel</label></br>
  <select name="teacherId" required>
    <option value="" disabled selected>wybierz nauczyciela</option>
    <option th:each="teacher : ${teachers}" th:text="${teacher}" th:value="${teacher.id}"/>
  </select>

  </br></br>
  <button type="submit">Utwórz</button>
</form>
</body>
</html>