<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tworzenie Nauczyciela</title>

</head>
<body>
<h1>UTWÓRZ NAUCZYCIELA</h1>

<!--<button th:href="@{/}" class="home-button">Home</button>-->
<button onclick="location.href='/teachers'">Return</button>
<button onclick="window.location.href='/'" class="home-button">Home</button>



<form method="post" action="/teachers/create">
    <input type="text" name="firstName" placeholder="Imię" required/></br>
    <input type="text" name="lastName" placeholder="Nazwisko" required/></br>
    </br>

    <label>języki:</label></br>
    <select name="languages" multiple required>
        <option th:each="language : ${languages}" th:text="${language}" th:value="${language}"/>
    </select>

    </br></br>
    <button type="submit">Create</button>

</form>

</body>
</html>