<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nauczyciele</title>
</head>
<body>
<h1>LISTA NAUCZYCIELI</h1>

<p3><a href="/teachers/create">dodaj</a> </p3>
</br>
</br>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Imię </th>
        <th> Nazwisko </th>
        <th> Języki </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.firstName}"></td>
        <td th:text="${teacher.lastName}"></td>
        <td th:text="${teacher.languages}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>