<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Tworzenie lekcji</title>
</head>
<body>
<h1>UTWÓRZ LEKCJE</h1>

<button onclick="location.href='/lessons'">Return</button>
<button onclick="window.location.href='/'" class="home-button">Home</button>
<!--<form method="post" action="/lessons/create">-->
<!--&lt;!&ndash;    <input type="text" name="name" placeholder="Nazwa lekcji" required/></br>&ndash;&gt;-->
<!--    <input type="datetime-local" name="term" th:min="${today}" required>-->
<!--    </br></br>-->
<!--    <button type="submit">Utwórz</button>-->
<!--</form>-->


<form method="post" action="/lessons/create" th:object="${lesson}">
    <input type="datetime-local" name="term" th:min="${today}" required>
    <div th:if="${errorMessage}" th:text="${errorMessage}"></div>
    </br></br>
    <button type="submit">Create</button>
</form>


</body>
</html>